{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": true,
      "decorators": false,
      "dynamicImport": true
    },
    "transform": {
      "react": {
        "runtime": "automatic"
      }
    },
    "target": "es2019",
    "baseUrl": "./",
    "paths": {
      "@/*": ["shared/*"],
      "@app/*": ["app/*"],
      "@shared/*": ["shared/*"],
      "@app/web/*": ["app/web/*"],
      "@web/*": ["app/web/*"],
      "@app/mobile/*": ["app/mobile/*"]
    }
  },
  "module": {
    "type": "commonjs"
  }
}